.nav{
    height: 100px;
    
    font-family: 'Lucida Sans';
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.locations{
    display: flex;
    justify-content: space-evenly;
   
    
    
    
}
.loco{
    padding: 20px;
    margin-left: 1em;
    border: solid black;
    border-radius: 15px;
}
.check{
    display: flex;
}
.muse{
    border: solid blue;
    width: 50%;
}
.home{
    padding-left: 30%;

}
header{
    font-size: 40px;
    padding-left: 35%;
}